__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.egg
*.egg-info/
dist/
build/

.env*
.venv/
venv/
ENV/

.ipynb_checkpoints/
.vscode/
.cache/
.pytest_cache/

.DS_Store
**/.DS_Store
Thumbs.db
.idea/
*.iml
*.sublime-workspace
*.sublime-project
*.swp
*.tmp

data/
